/* ============================================
   MESSAGES FULL VIEW
   ============================================ */

.messages-full-view {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
  background-color: var(--theme-bg-primary);
  overflow: hidden;
}

.messages-full-view .messaging-layout {
  width: 100%;
  height: 100%;
}

